// breakepointの値
$bp:1152px;
// margin 0 autoの関数
$m0a:0 auto;
// font-familyの設定
$ff:YuGothic,'Yu Gothic',sans-serif;

// headerのcss
.header_container{
  max-width: $bp;
  margin: $m0a;
  padding: 56px 0;
  .header_menu{
    display: flex;
    justify-content: end;
    .header_content{
      a{
        text-decoration: none;
        color: black;
        font-family: $ff;
        margin-left: 23px;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}
//headerのcssここまで

// ここからmain_visualのPC用とSp用の画像切り替え用CSS
.pc_img{
  display: block;
  @media screen and (max-width: $bp){
    display: none;
    width: 100%;
  }
}
.sp_img{
  display: none;
  @media screen and (max-width: $bp){
    display: block;
    width: 100%;
  }
}
// ここまでmain_visualのPC用とSp用の画像切り替え用CSS

// ここから親となるmain_img_boxの設定
//親となるbox
.main_img_box{
  max-width: $bp;
  margin: $m0a;
  position: relative;
  //黒い丸、アメリカンビレッジのロゴ
  .main_img_left_subbox{
    position: absolute;
    top: -115px;
    left: 0;
  }
  //アメリカンビレッジの背景や風景写真
  .main_img{
    width: 1024px;
    height: 448px;
    margin: $m0a;
  }
  //アメリカンビレッジのテキストロゴ
  .main_img_right_subbox{
    position: absolute;
    top: 237px;
    left: 655px;
  }
}
// ここまで親となるmain_img_boxの設定

// ここから進化し続ける...のテキストCSS
.textbox{
  margin: 20px 0 40px 0;
  // テキストの左側からの位置とFontのサイズの設定
  .av_text{
    font-size: 24px;
    font-family: $ff;
    letter-spacing: 0.2px;
    padding-left: 145px;
    // 段落をSP時に発生させて、PC時に無しにする
    .br{
      display: none;
      @media screen and (max-width: $bp){
        display: block;
      }
    }
  }
}
// ここまで進化し続ける...のテキストCSS

// ここからLatest ArticlesのCSS
.latest_articles{
  max-width: $bp;
  margin: $m0a;
  margin-top: 82px;
  // 見出しのCSS
  .subtitle{
    text-align: center;
    font-size: 30px;
    font-family: $ff;
    margin-bottom: 51px;
  }
  // ここから記事一覧（card_container）のCSS
  .card_container{
    display: flex;
    justify-content: space-around;
    max-width: 1125px;
    margin: 0 48px;
    margin-bottom: 65px;
    // カードをaタグで囲っているから、aタグにカードの大きさの指定をしている
    a{
      text-decoration: none;
      color: black;
      width: 320px;
      height: 400px;
      // hover後に影がつく間隔の指定
      transition: all .4s;
      &:hover{
        // 影がつく際の値
        box-shadow: 0 0 30px -10px black;
      }
      .card{
        // imgが画面幅に応じて大きさが変化するようにするための箇所
        img{
          width: 100%;
          height: auto;
        }
        // 日付と記事が書かれているところのカード内の位置と縦幅の指定
        .card_text{
          padding-left: 15px;
          height: 150px;
          // 日付と記事の題名のテキストの調整
          p{
            font-size: 16.1px;
            font-family: $ff;
            padding-top: 12px;
            padding-bottom: 4px;
            line-height: 18px;
          }
        }
        // ReadMoreのcss
        .rm_box{
          margin-top: 1px;
          margin-right: 13px;
          .readmore{
            text-align: end;
            font-size: 12px;
          }
        }
      }
    }
  }
}
// ここまでLatest ArticlesのCSS

