// body{
//   max-width: 1152px;
//   margin: 0 auto;
// }

$mb: 767px;

header{
  padding-top: 56px;
  padding-bottom: 55px;
  @media screen and (max-width: $mb){
    display: none;
  }
  .header_container{
    max-width: 1152px;
    margin: 0 auto;
    .header_menu{
      display: flex;
      justify-content: end;
      .header_content{
        list-style: none;
        margin-left: 29.6px;
        margin-right: 1px;
        a{
          text-decoration: none;
          color: black;
          font-family: YuGothic,'Yu Gothic',sans-serif;
          font-size: 14px;
        }
      }
    }
  }
}

section{
  max-width: 1152px;
  margin: 0 auto;
}

// ここからmain_visualのPC用とSp用の画像切り替え用CSS
.pc_img{
  display: block; 
  @media screen and (max-width: $mb){
    display: none;
    width: 100%;
  }
}
.sp_img{
  display: none; 
  @media screen and (max-width: $mb){
    display: block;
    width: 100%;
  }
}
// main_visualのPC用とSp用の画像切り替え用CSSここまで

.main_img_box{
  position: relative;
  height: 449px;
  width: 1024px;
  margin: 0 auto;
  @media screen and (max-width: $mb){
    margin-top: 270px;
    height: 300px;
    width: 100%;
  }
  .main_img_left_subbox,
  .main_img_right_subbox{
    position: absolute;
  }
  .main_img_left_subbox{
    top: -116px;
    left: -62px;
    @media screen and (max-width: $mb){
      top: -260px;
      left: 70px;
    }
  }
  .main_img_right_subbox{
    top: 237px;
    left: 591px;
    @media screen and (max-width: $mb) {
      top: 30px;
      left: 0;
    }
  }
}

.textbox{
  max-width: 1152px;
  margin: 0 auto;
  font-size: 24px;
  padding-left: 5px;
  .av_text{
    margin-top: 19px;
    @media screen and (max-width: $mb){
      text-align: center;
    }
    .br{
      display: none;
      @media screen and (max-width: $mb){
        display: block;
      }
    }
  }
}

.subtitle{
  text-align: center;
  font-size: 27px;
  margin-top: 83px;
  margin-bottom: 54px;
}

.card_container{
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; 
  @media screen and (max-width: $mb){
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card{
    height: 430px;
    width: 320px;
    margin-bottom: 30px;
    transition: all .2s;
    &:hover{
      box-shadow: 0 0 10px -2px;
    }
    p{
      padding-left: 210px;
    }
    .card_text{
      height: 170px;
      max-width: 305px;
      margin: 0 auto;
      p{
        margin-top: 20px;
        padding-left: 10px;
      }
    }
  }
}

footer{
  margin-top: 80px;
  height: 100px;
  background-color: black;
  p{
    color: white;
    text-align: center;
    padding-top: 40px;
  }
}