header {
  padding-top: 56px;
  padding-bottom: 55px;
}

@media screen and (max-width: 767px) {
  header {
    display: none;
  }
}

header .header_container {
  max-width: 1152px;
  margin: 0 auto;
}

header .header_container .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header .header_container .header_menu .header_content {
  list-style: none;
  margin-left: 19.1px;
  margin-right: 11px;
}

header .header_container .header_menu .header_content a {
  text-decoration: none;
  color: black;
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-size: 14px;
}

section {
  max-width: 1152px;
  margin: 0 auto;
}

.pc_img {
  display: block;
}

@media screen and (max-width: 767px) {
  .pc_img {
    display: none;
    width: 100%;
  }
}

.sp_img {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp_img {
    display: block;
    width: 100%;
  }
}

.main_img_box {
  position: relative;
  height: 449px;
  width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .main_img_box {
    margin-top: 270px;
    height: 300px;
    width: 100%;
  }
}

.main_img_box .main_img_left_subbox,
.main_img_box .main_img_right_subbox {
  position: absolute;
}

.main_img_box .main_img_left_subbox {
  top: -116px;
  left: -62px;
}

@media screen and (max-width: 767px) {
  .main_img_box .main_img_left_subbox {
    top: -260px;
    left: 70px;
  }
}

.main_img_box .main_img_right_subbox {
  top: 237px;
  left: 591px;
}

@media screen and (max-width: 767px) {
  .main_img_box .main_img_right_subbox {
    top: 30px;
    left: 0;
  }
}

.textbox {
  max-width: 1152px;
  margin: 0 auto;
  font-size: 24px;
  padding-left: 5px;
}

.textbox .av_text {
  margin-top: 19px;
}

@media screen and (max-width: 767px) {
  .textbox .av_text {
    text-align: center;
  }
}

.textbox .av_text .br {
  display: none;
}

@media screen and (max-width: 767px) {
  .textbox .av_text .br {
    display: block;
  }
}

.subtitle {
  text-align: center;
  font-size: 27px;
  margin-top: 83px;
  margin-bottom: 54px;
}

.card_container {
  width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .card_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card_container .card {
  height: 430px;
  width: 320px;
  margin-bottom: 30px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card_container .card:hover {
  -webkit-box-shadow: 0 0 10px -2px;
          box-shadow: 0 0 10px -2px;
}

.card_container .card p {
  padding-left: 210px;
}

.card_container .card .card_text {
  height: 170px;
  max-width: 305px;
  margin: 0 auto;
}

.card_container .card .card_text p {
  margin-top: 20px;
  padding-left: 10px;
}

footer {
  margin-top: 80px;
  height: 100px;
  background-color: black;
}

footer p {
  color: white;
  text-align: center;
  padding-top: 40px;
}
/*# sourceMappingURL=style.css.map */