.header_container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 56px 0;
}

@media screen and (max-width: 767px) {
  .header_container {
    display: none;
  }
}

.header_container .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header_container .header_menu .header_content a {
  text-decoration: none;
  color: black;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  margin-left: 23px;
  font-weight: bold;
  font-size: 15px;
}

.pc_img {
  display: block;
}

@media screen and (max-width: 767px) {
  .pc_img {
    display: none;
    width: 100%;
  }
}

.sp_img {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp_img {
    display: block;
    width: 100%;
  }
}

.main_img_box {
  max-width: 1152px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .main_img_box {
    height: auto;
    width: 100%;
  }
}

.main_img_box .main_img_left_subbox {
  position: absolute;
  top: -115px;
  left: 0;
}

@media screen and (max-width: 767px) {
  .main_img_box .main_img_left_subbox {
    position: static;
    height: 278px;
  }
}

@media screen and (max-width: 767px) {
  .main_img_box .main_img_left_subbox img {
    height: 215px;
    width: auto;
    margin: 32px 267px;
  }
}

.main_img_box .main_img {
  width: 1024px;
  height: 448px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .main_img_box .main_img {
    height: auto;
    width: 100%;
  }
}

.main_img_box .main_img_right_subbox {
  position: absolute;
  top: 237px;
  left: 655px;
}

@media screen and (max-width: 767px) {
  .main_img_box .main_img_right_subbox {
    top: 310px;
    left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .main_img_box .main_img_right_subbox img {
    height: 100%;
    width: 100%;
  }
}

.textbox {
  margin: 20px 0 40px;
}

@media screen and (max-width: 767px) {
  .textbox {
    text-align: center;
    margin: 18px 0;
  }
}

.textbox .av_text {
  font-size: 24px;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  letter-spacing: 0.2px;
  padding-left: 145px;
}

@media screen and (max-width: 767px) {
  .textbox .av_text {
    font-size: 32px;
    padding-left: 0;
    line-height: 50px;
    letter-spacing: 0.4px;
  }
}

.textbox .av_text .br {
  display: none;
}

@media screen and (max-width: 767px) {
  .textbox .av_text .br {
    display: block;
  }
}

.latest_articles {
  max-width: 1152px;
  margin: 0 auto;
  margin-top: 82px;
}

@media screen and (max-width: 767px) {
  .latest_articles {
    margin-top: 41px;
  }
}

.latest_articles .subtitle {
  text-align: center;
  font-size: 30px;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  margin-bottom: 51px;
}

@media screen and (max-width: 767px) {
  .latest_articles .subtitle {
    font-size: 60px;
    margin-bottom: 22px;
  }
}

.latest_articles .card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1125px;
  margin: 0 48px;
  padding-bottom: 65px;
}

@media screen and (max-width: 767px) {
  .latest_articles .card_container {
    display: block;
    margin: 0;
  }
}

.latest_articles .card_container a {
  text-decoration: none;
  color: black;
  width: 320px;
  height: 400px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.latest_articles .card_container a:hover {
  -webkit-box-shadow: 0 0 30px -10px black;
          box-shadow: 0 0 30px -10px black;
}

.latest_articles .card_container a:hover .readmore::before {
  content: '';
  position: absolute;
  left: 100%;
  bottom: -15px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  border-bottom: solid 1px black;
  -webkit-animation: border_anim 0.3s linear forwards;
          animation: border_anim 0.3s linear forwards;
}

.latest_articles .card_container a .card img {
  width: 100%;
  height: auto;
}

.latest_articles .card_container a .card .card_text {
  padding-left: 15px;
  height: 150px;
}

.latest_articles .card_container a .card .card_text p {
  font-size: 16.1px;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  padding-top: 12px;
  padding-bottom: 4px;
  line-height: 18px;
}

.latest_articles .card_container a .card .rm_box {
  width: 71px;
  margin-left: 235px;
  margin-top: 1px;
}

.latest_articles .card_container a .card .rm_box .border_animation {
  width: 15px;
  margin-left: 55px;
  padding-bottom: 14px;
  border-bottom: solid 1px black;
}

@-webkit-keyframes border_anim {
  0% {
    width: 15px;
  }
  100% {
    width: 100%;
  }
}

@keyframes border_anim {
  0% {
    width: 15px;
  }
  100% {
    width: 100%;
  }
}

.latest_articles .card_container a .card .rm_box .readmore {
  width: 100%;
  font-size: 12px;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

footer {
  max-width: 1281px;
  margin: 0 auto;
  background-color: black;
  height: 140px;
  margin-top: 65px;
}

footer p {
  padding-top: 55px;
  font-size: 17px;
  color: white;
  text-align: center;
  font-family: YuGothic, "Yu Gothic", sans-serif;
}
/*# sourceMappingURL=style.css.map */